<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
    	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
    	">

    <!-- thrift连接池配置 -->
    <bean id="connectionProvider" class="com.harvest.demo.ConnectionProviderImpl">
        <property name="serviceIP" value="localhost" />
        <property name="servicePort" value="8090" />
        <property name="maxActive" value="10" />
        <property name="maxIdle" value="10" />
        <property name="testOnBorrow" value="true" />
        <property name="testOnReturn" value="true" />
        <property name="testWhileIdle" value="true" />
        <property name="conTimeOut" value="2000" />
    </bean>
    <!-- thrift连接管理配置  -->
    <bean id="connectionManager" class="com.harvest.demo.server.impl.manager.ConnectionManager">
        <property name="connectionProvider" ref="connectionProvider" />
    </bean>
    <!-- 客户端接口配置  -->
    <bean class="com.harvest.demo.test.client.PoolClientTest">
        <property name="connectionManager" ref="connectionManager" />
    </bean>
    <!-- thrift连接AOP配置  -->
    <aop:config proxy-target-class="true">
     	<!-- 切入点 -->
        <aop:pointcut id="clientMethods"
            expression="execution(* com.harvest.demo.test.client.*.*(..))" />
       	<!-- 在该切入点使用自定义拦截器 -->  
        <aop:advisor advice-ref="connectionManager" pointcut-ref="clientMethods" />
    </aop:config>
</beans>