<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:people="http://com.harvest.allan/schema/people"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
    http://com.harvest.allan/schema/people http://com.harvest.allan/schema/people.xsd" >  
    <people:student id="1" name="student1"  
        age="18" />  
        
    <people:student id="2" name="student2"  
        age="20" />  
</beans> 
